input[id='card']:checked ~ .cat-shop > .cat-item
{
    width: 300px;
    height: 400px;
    display: inline-block;
    margin: 10px;
    border: 2px solid lightgray;
}

input[id='card']:checked ~ .cat-shop > .cat-item > .cat-picture
{
    width: 300px;
}

input[id='card']:checked ~ .cat-shop > .cat-item > .list-information
{
    display: none;
}

input[id='list']:checked ~ .cat-shop > .cat-item
{
    width: 700px;
    height: 700px;
    margin: 0 auto;
    border: 2px solid lightgray;
}

input[id='list']:checked ~ .cat-shop > .cat-item > .cat-picture
{
    width: 700px;
}

input[id='list']:checked ~ .cat-shop > .cat-item > .card-information
{
    display: none;
}

input[id='card']:checked ~ .settings > label[for='card'],
input[id='list']:checked ~ .settings > label[for='list']
{
    background: rgba(56, 56, 56, 1);
    color: rgba(255, 255, 255, 1);
}

.setting-radio-item
{
    display: none;
}

.settings
{
    display: inline-block;
    margin: 10px;
}

.switch
{
    height: 30px;
    width: 100px;
    padding: 5px;
    cursor: pointer;
    background: rgba(56, 56, 56, .8);
    border: 1px solid rgba(170, 170, 170, 1);
    color: rgba(255, 255, 255, .8);
    transition: all .5s ease-out;
}

.switch:hover
{
    background: rgba(56, 56, 56, 1);
    color: rgba(255, 255, 255, 1);
}

.cat-name,
.card-information,
.list-information
{
    margin: 10px;
    color: #361b01;
    font-family: serif;
}

.list-information
{
    font-size: 20px;
}

.cat-name
{
    height: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cat-item:hover
{
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.cat-name:hover
{
    white-space: normal;
    color: #6b3702;
}

.cat-picture:hover
{
    transform: scale(.95, .95);
    transition: .4s;
}
